*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.avatar{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translateY(50%);
    margin-inline: auto;   
    box-shadow: 1px 1px 10px 1px rgba(46, 39, 39, 0.336);
}
form{
    padding: 30px 40px;
    margin-bottom: 30px;
    width: 350px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgba(228, 226, 226, 0.171);
    box-shadow: 1px 1px 10px 1px rgba(46, 39, 39, 0.336);
}
form .list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
form .content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
form .content input{
    width: fit-content;
}
form h1{
    text-align: center;
    color: rgb(235, 232, 232);
    margin-block: 30px;
    font-weight: normal;
}
form label{
    padding: 10px;
    font-size: 18px;
    color: aliceblue;
    text-transform: capitalize;
    display: block;
}
form input ,select {
    padding: 10px 15px ; 
    width: 100%;
    margin-block:5px 10px ;
    border: none;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.452);
    color: rgb(70, 69, 69);
}
form input::placeholder{
    font-size: 15px;
    color: rgba(114, 114, 110, 0.521);
}
form input:focus-visible,
form select:focus-visible{
    outline:2px solid white;
}
form input[type="submit"],
form input[type="reset"],
form input[type="button"]{
    color: white;
    background-color: rgb(81, 32, 28);
}
form input[type="submit"]:hover,
form input[type="reset"]:hover,
form input[type="button"]:hover{
    color: white;
    background-color: #5120199c;
}
form select option{
    background-color: rgb(214, 210, 210);
    border: none;
    color: rgb(68, 67, 67);
    font-weight: bold;
}
form .wrong {
    background-color: rgba(245, 20, 20, 0.788);
    padding: 10px ;
    width: 50%;
    margin: auto;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.753);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.438);
}